@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

.intro {
  animation: animation 1.5s ease-in-out;
}

.slider {
  width: 100%;
  min-height: 100vh;
  aspect-ratio: 16/9;
  position: relative;
}

.slider-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slider header {
  position: absolute;
  z-index: 1;
  top: 3vw;
  right: 4vw;
}

.slider header nav ul {
  display: flex;
  justify-self: space-around;
  align-items: flex-end;
  gap: 2.5vw;
}

.slider header nav ul li {
  list-style: none;
  letter-spacing: 1px;
}

.slider header nav ul li a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1.05rem;
  transition: 0.2s ease-in-out;
}

.slider header nav ul li a:hover {
  color: #71b6f7;
  transition: 0.2s ease-in-out;
}

h1 {
  width: max-content;
  color: #f4f4f4;
  font-size: 4rem;
  margin-bottom: 27px;
}

h2 {
  color: #081733;
  font-size: 2rem;
  margin-bottom: 100px;
}

.scroll-down {
  position: absolute;
  bottom: 20%;
  left: 50%;
  text-align: center;
  animation: zoom 1.5s;
}

.scroll-down a {
  display: block;
  color: #fff;
  font-size: 24px;
  transition: 0.5s ease;
  animation: bounce 0.7s infinite alternate;
}

.scroll-down a:hover {
  transition: 0.5s ease;
}

p {
  color: #081733;
  font-size: 1.6em;
  line-height: 1.5em;
}

.slider-content p {
  color: #f4f4f4;
  font-size: 2rem;
  font-weight: 300;
}

.section {
  padding: 100px 0;
}

.boxed {
  max-width: 1280px;
  margin-inline: auto;
}

.flex {
  display: flex;
}

.dark {
  background: #081733;
  color: #f4f4f4;
}

.white-title {
  color: #f4f4f4;
}

.w40 {
  width: 40%;
}

.w60 {
  width: 60%;
}

.text-center {
  text-align: center;
}

.w25 {
  width: 25%;
}

.w32 {
  width: 32%;
}

.space-between {
  justify-content: space-between;
}

.gap20 {
  gap: 20px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

.presentation {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

.presentation img {
  width: 300px;
}

.skill {
  background: #f4f4f4;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.skill img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.skill h3 {
  color: #000;
  margin-top: 10px;
}

.jauge-js {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 11px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.jauge-js::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--level, 27%);
  height: 100%;
  background-color: #1b4ca7;
  border-radius: 5px;
}

.jauge-html-css {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 11px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.jauge-html-css::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--level, 80%);
  height: 100%;
  background-color: #1b4ca7;
  border-radius: 5px;
}

.jauge-py {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 11px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.jauge-py::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--level, 70%);
  height: 100%;
  background-color: #1b4ca7;
  border-radius: 5px;
}

.jauge-mysql {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 11px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.jauge-mysql::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--level, 60%);
  height: 100%;
  background-color: #1b4ca7;
  border-radius: 5px;
}

.jauge-psql {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 11px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.jauge-psql::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--level, 70%);
  height: 100%;
  background-color: #1b4ca7;
  border-radius: 5px;
}

.jauge-php {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 11px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.jauge-php::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--level, 65%);
  height: 100%;
  background-color: #1b4ca7;
  border-radius: 5px;
}

.jauge-c {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 11px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.jauge-c::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--level, 55%);
  height: 100%;
  background-color: #1b4ca7;
  border-radius: 5px;
}

.jauge-java {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 11px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.jauge-java::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--level, 70%);
  height: 100%;
  background-color: #1b4ca7;
  border-radius: 5px;
}

.jauge-git {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 11px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.jauge-git::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--level, 50%);
  height: 100%;
  background-color: #1b4ca7;
  border-radius: 5px;
}

.realisations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px;
}

.realisation {
  background-color: #777;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
  transform: scale(1);
  transition: 0.3s ease-in;
  border-radius: 10%;
  width: 80%;
}

.realisation h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  width: max-content;
  opacity: 0;
  transition: 0.3s ease;
  width: 100%;
}

.realisation a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #f4f4f4;
}

.realisation img {
  width: 80%;
  height: 100%;
  object-fit: contain;
  filter: brightness(50%);
  transform: scale(1);
  transition: 0.3s ease-in;
}

.realisation:hover {
  transform: scale(0.97);
  filter: brightness(70%);
  transition: 0.3s ease-in;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

.realisation:hover h3 {
  opacity: 1;
}

#realisation {
  position: relative;
}

.popup {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative;
  height: 400px;
  width: 700px;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}

.popup-content h3 {
  font-size: 2rem;
}

.popup-content .contenus {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 50px;
}

.popup-content .contenus img {
  width: 200px;
  height: 200px;
}

.popup-content .contenus p {
  font-size: 1.2rem;
}

.close {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.parcours h2 {
  color: #f4f4f4;
}

.parcours .frise {
  display: flex;
  justify-content: center;
}

.timeline-object {
  display: flex;
  align-items: center;
  margin-top: 50px;
  position: relative;
}

.timeline-object.complete::after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 100px;
  background-color: #71b6f7;
  left: 24px;
  top: 50px;
  transform: translateX(-50%);
}

.timeline-status {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-color: #71b6f7;
}

.timeline-object:not(.complete) .timeline-status {
  background: #ffffff;
  border: 4px solid #c5c5c5;
}

.timeline-object:not(.complete) .timeline-content h3 {
  color: #8a8a8a;
  background: #e1e1df;
}

.timeline-content {
  margin-left: 15px;
}

.timeline-content h3 {
  color: #0c2046;
  background: #cff6cf;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.timeline-content span {
  color: #71b6f7;
  font-size: 0.9em;
  font-weight: bold;
}

footer h2 {
  color: #0c2046;
}

.icon {
  display: block;
  font-size: 50px !important;
  text-decoration: none;
  color: #0c2046;
  padding: 20px;
}

.link {
  border: 2px solid #0c2046;
  border-radius: 15px;
  transition: transform 0.3s ease-out;
}

.link:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}

/* Style du scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #0c2046;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 255, 0.3);
  border-radius: 40px;
}
